/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/style.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D1D0D9;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  max-width: 720px;
  border-radius: 20px;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-box {
  width: 100%;
  max-width: 518px;
  height: 123px;
  border-radius: 20px;
  background: #E07C7C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}
.progress-box .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.progress-box .left-side .progress-bar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.progress-box .progress-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.progress-box .completed-text {
  color: #EBB9B8;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.task-container .task-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3%;
}
.task-container .task-filter-container .task-title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3%;
}
.task-container .task-filter-container .filter-dropdown {
  width: 110px;
  height: 29px;
  border-radius: 10px;
  background: #FFF;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
}
.task-container .task-filter-container .filter-dropdown p {
  margin-left: 10%;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.task-container .task-filter-container .filter-dropdown .chevron-down {
  margin-right: 10%;
}
.task-container .task-capsule {
  width: 518px;
  height: 46px;
  border-radius: 9999px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 1%;
}
.task-container .task-capsule .tick-box {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #585292;
  cursor: pointer;
}
.task-container .task-capsule .todo-title {
  width: 435px;
  height: 19px;
  color: #2E2E2E;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.task-container .task-capsule .completed-todo {
  width: 435px;
  height: 19px;
  color: #2E2E2E;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: line-through;
}
.task-container .task-capsule .edit-delete-dialog-warpper {
  position: -webkit-sticky;
  position: sticky;
  right: 18%;
  margin-top: 18%;
}
.task-container .task-capsule .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.task-container .task-capsule-add-todo {
  width: 518px;
  height: 46px;
  border-radius: 9999px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 5%;
}
.task-container .task-capsule-add-todo input[type=text], .task-container .task-capsule-add-todo .add-todo-type-field {
  width: 435px;
  height: 19px;
  color: #BCBCBC;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .task-container .task-capsule {
    width: 100%;
    margin-top: 5%;
    flex-direction: column;
    align-items: flex-start;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #585292;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 10%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/components/edit-delete-dialog/edit-delete-dialog.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.dialog-container {
  width: 111px;
  height: 81px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 10px;
  z-index: 99 !important;
}

.edit,
.delete {
  color: #2E2E2E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit:hover,
.delete:hover {
  background-color: #e0e0e0;
}

.delete {
  color: #E07C7C;
}
